absl-py
astunparse
backcall
bokeh==2.3.1
cachetools
certifi
chardet
click
colorama
cycler
debugpy
decorator
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h5py
idna
ipykernel
ipython
ipython-genutils
itsdangerous
jedi
Jinja2
joblib
jupyter-client
jupyter-core
Keras-Preprocessing==1.1.2
kiwisolver
Markdown
MarkupSafe
matplotlib==3.3.4
matplotlib-inline==0.1.2
numpy==1.19.5
oauthlib
opencv-python==4.5.1.48
opt-einsum
packaging
pandas==1.2.3
parso
pickleshare
Pillow
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
pytz==2021.1
pywin32
PyYAML
pyzmq
requests==2.25.1
requests-oauthlib
rsa
scikit-learn==0.24.1
scipy==1.6.1
six
sklearn==0.0
SQLAlchemy==1.4.18
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor
threadpoolctl
tornado
traitlets
typing-extensions
urllib3==1.26.3
wcwidth
Werkzeug
wrapt
