{% extends 'layout.html' %}
{% block headscript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.3.1/bokeh.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
{% endblock headscript %}

{% block content %}
    <div class="container">
        <div class="col-12">
            <div class="row ">
                <h3>Past 24 Hours</h3>

            </div>
            <div class="row justify-content-center table-responsive">

                {{graph_div | safe}}
            </div>
            
            <div class= "row justify-content-center top-buffer table-responsive">
                <h3>Recent Bedtimes</h3>
                <table class="table">
                    <thead class=''>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in data%}
                            <tr>
                                <td scope="row" >
                                    <p class= "font-weight-normal">{{item.start_date_string}}</p>
                                </td>
                                <td scope="row">
                                    <p class= "font-weight-light">{{item.start_time_string}} thru {{item.end_time_string}}</p>
                                    <p class= "font-weight-bold">{{item.duration_string}}</p>    
                                </td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </div>
        
        
    </div>
    

    {{graph_script | safe}}
{% endblock content %}