{% extends 'layout.html' %}

{% block headscript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.3.1/bokeh.min.js"></script>
{% endblock headscript %}
        

{% block content %}
    <h2>Model {{model | safe}}</h2>
        <div class='w-100 border-bottom'>
            <p>Accuracy: {{accuracy}}</p>
            <div class= "row justify-content-between">
                <div class= "col text-left">
                    {% if model == previous %}
                        <a class="btn btn-secondary disabled" href="" role="button">Previous</a>
                    {% else %}
                        <a class="btn btn-primary" href="/models/{{previous}}" role="button">Previous</a>
                    {% endif %}
                </div>
                <div class= "col text-right">
                    {% if model == next %}
                        <a class="btn btn-secondary disabled" href="" role="button">Next</a>
                    {% else %}
                        <a class="btn btn-primary" href="/models/{{next}}" role="button">Next</a>
                    {% endif %}
                </div>
            </div>
            <div class= "row"><p></p></div>
        </div>
    <div class='h-25'>
        <div class='row'>
            <div class='col'>
                <p></p>
            </div>
        </div>
        <div class='row'>
            <div class='col'>
                {{graph_div | safe}}
            </div>
        </div>
        <hr>
        <h3>Structure</h3><br>
        <div class= 'row'>
            <div class= 'col'>
                <p>
                <small>
                    {% for line in summary%}
                        {{line}}<br>
                    {% endfor%}
                </small>
                </p>
            </div>
        </div>
    </div>

    
    {{graph_script | safe}}
{% endblock content %}

{% block scripts%}
{% endblock scripts%}