{% extends 'layout.html' %}

{% block headscript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.3.1/bokeh.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
{% endblock headscript %}

{% block content %}
    <h2>Readings</h2>
    <div class="container">
            <div class= "row justify-content-center top-buffer table-responsive">
                <table class="table">
                    <thead class=''>
                        <tr>
                            <th scope="col">Value</th>
                            <th scope="col">Image</th>
                            <th scope="col">Model Output</th>
                            <th scope="col">Time Stamp</th>
                            <th scope="col">ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for item in data%}
                            <tr>
                                <td scope="row" class="value-column">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            {{item.value}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            {% if item.value == "Empty" %}
                                            <button class="dropdown-item correction" value="Baby">Baby
                                            {%else%}
                                            <button class="dropdown-item correction" value="Empty">Empty
                                            {% endif %}
                                        </button>
                                        </div>
                                    </div>
                                </td>
                                <td scope="row">
                                    <a class="reading-img" href="{{url_for('static', filename= 'ReadingImagesOriginals/' + item.file_name)}}">
                                        <img width="100" src="{{url_for('static', filename= 'ReadingImagesResized/' + item.file_name)}}">
                                    </a>    
                                </td>
                                <td scope="row" class="">
                                    <p>
                                        Baby: {{item.baby_reading}}<br>
                                        Empty: {{item.empty_reading}}
                                    </p>
                                </td>
                                <td scope="row" class="timestamp-column">{{item.start_time}}</td>
                                <td scope="row" class="id-column">{{item.id}}</td>
                            </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
    </div>

    <nav aria-label="">
        <ul class="pagination">
            {% for page in pagination %}
                {% if loop.first %}
                    <li class="page-item">
                        <a class="page-link" href="/readings?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="/readings?page={{page}}">Prev</a></li>
                {% elif loop.last %}
                    <li class="page-item"><a class="page-link" href="/readings?page={{page}}">Next</a></li>
                    <li class="page-item">
                        <a class="page-link" href="/readings?page={{page_length}}" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                {% elif page == current_page %}
                    <li class="page-item active"><a class="page-link" href="/readings?page={{page}}">{{page}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/readings?page={{page}}">{{page}}</a></li>
                {% endif %}
            {%endfor%}
        </ul>
      </nav>
    {{graph_script | safe}}
{% endblock content %}

{% block scripts%}{% endblock scripts%}