{% extends 'layout.html' %}

{% block headscript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/2.3.1/bokeh.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
{% endblock headscript %}

{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-4 justify-content-center top-buffer">
                <h3>Count <small class="text-muted">images</small></h3>
                {{graph_div | safe}}
            </div>
            <div class="col-sm-8 justify-content-center top-buffer">
                <h3>Train <small class="text-muted">from live stream</small></h3>
                <div class="" style="position: relative; justify-content: center;">
                    <img id="loader" class="loader" src="{{ url_for('static', filename='loader.gif') }}" width="100%">
                    <div class="video-container" style="position: relative; justify-content: center;">
                        <img id="video-feed" class="" src="{{ url_for('video_feed') }}" width="100%" height="auto">
                        <div class="btn-group-live btn-group-sm d-none text-center overlay-btn-grp" role="group" aria-label="Basic example">
                            <button type="submit" class="btn btn-primary live-classification" name="classification" value=0.0>Empty</button>
                            <button type="submit" class="btn btn-primary live-classification" name="classification" value=1.0>Awake</button>
                            <button type="submit" class="btn btn-primary live-classification" name="classification" value=2.0> Asleep</button>   
                        </div>
                    </div>
                </div>
                <div class="alert-container justify-content-center text-center" style="position: absolute;"></div>
            </div> 
        </div>
        <p class="top-buffer"></p>
        <hr>
        <div class="row justify-content-center top-buffer table-responsive">
            <div class="col">
                <h3>Browse <small class="text-muted">images</small></h3>
            </div>
        </div>
        <div id="tablecontainer">
            {{table | safe}}
        </div>
    </div>
    <div id="pagcontainer">
        {{pagination_nav | safe}}
    </div>
    {{graph_script | safe}}
{% endblock content %}

{% block scripts%}
{% endblock scripts%}