.top-buffer{
    margin-top:30px; 
}
.pointer-cursor{
    cursor: pointer;
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}
table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}
table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}
.overlay-btn-grp{
    position: absolute;
    bottom: 8px;
}
.overlay-btn-grp-sm{
    position: absolute;
    bottom: 35px;
}
.video-container{
    display: flex;
    justify-content: center;
}
.no-padding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.graph-container{
    position: relative;
    display:flex;
    justify-content: center;
    align-content: center;
}
.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}