<tbody>
    {%for item in data%}
        {%if item.end_time_string == 'Now'%}
        <tr class="table-success table-row">
        {%else%}
        <tr class="table-row">
        {% endif %}
            <!--.stretched-link is used to make entire container a link,
            but this doesn't work with Safari when applied to <tr>.
            The workaround is to wrap contents of <td> in a <div> and mess
            with the padding. The <div> becomes the anchor for the streched link.
            -->
            <td scope="row" class="p-0"><!--Reduce padding of td-->
                <div class="position-relative p-3"><!--Increase padding of contents-->
                    <a href="/bedtime?start={{item.id}}&end={{item.end_id}}" class="stretched-link"></a>
                    <p class= "font-weight-normal">{{item.start_date_string}}</p>
                </div>
            </td>
            <td scope="row" class="p-0">
                <div class="position-relative p-3">
                    <a href="/bedtime?start={{item.id}}&end={{item.end_id}}" class="stretched-link"></a>
                    <h6 class= "font-weight-light">{{item.start_time_string}} <small class= "text-muted font-weight-light">thru</small> {{item.end_time_string}}</h6>
                    <p class= "font-weight-bold">{{item.duration_string}}</p>
                </div>
            </td>
        </tr>
    {%endfor%}
</tbody>