{% extends 'layout.html' %}

{% block styles %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/datapage.css') }}">
{% endblock styles %}

{% block content %}
    <h1>Data</h1>
    <div class="card-columns">
        {%for item in data%}
            <div class="card text-right">
                <img class="card-img-top " src="{{url_for('static', filename= 'Resized/' + item.file_name)}}" alt="Card image cap">
                <div class="card-body card-img-overlay d-flex flex-column justify-content-end">
                    <div class= "bg-dark text-white">
                        <p class="card-text justify-content-end">{{item.val}}</p>
                    </div>
                        
                </div>
            </div>
        {%endfor%}
    </div>
    <nav aria-label="">
        <ul class="pagination">
            {% for page in pagination %}
                {% if loop.first %}
                    <li class="page-item">
                        <a class="page-link" href="/data?page=1" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">First</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="/data?page={{page}}">Prev</a></li>
                {% elif loop.last %}
                    <li class="page-item"><a class="page-link" href="/data?page={{page}}">Next</a></li>
                    <li class="page-item">
                        <a class="page-link" href="/data?page={{page_length}}" aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Last</span>
                        </a>
                    </li>
                {% elif page == current_page %}
                    <li class="page-item active"><a class="page-link" href="/data?page={{page}}">{{page}}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/data?page={{page}}">{{page}}</a></li>
                {% endif %}
            {%endfor%}
        </ul>
      </nav>
{% endblock content %}

{% block scripts%}

{% endblock scripts%}