{% extends 'layout.html' %}
{% block headscript %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='style.css') }}">
{% endblock headscript %}

{% block content %}
    <h2>Home</h2>
    <div class="container">
        <div class= "row">
            <!--img src="{{ url_for('video_feed') }}" width="90%"-->
            <img id= "loader" class= "loader" src="{{ url_for('static', filename= 'loader.gif') }}" width="100%">
            <img id= "video-feed" src="{{ url_for('video_feed') }}" width="90%">
        </div>
        <div class= "row" style='margin-top: 10px;'>
            <div class="btn-group d-none" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-secondary classification" name="classification" value=0.0>Empty</button>
                <button type="submit" class="btn btn-secondary classification" name= "classification" value=1.0>Awake</button>
                <button type="submit" class="btn btn-secondary classification" name= "classification" value=2.0> Asleep</button>   
            </div>
        </div>
        <div class= "row alert-container"></div>

        
    </div>
{% endblock content %}